.n-tab-pane {
  display: none;
}

.github-corner {
  svg {
    transition: fill 0.5s ease-out;
    fill: #fff;
    z-index: 1;
    .bg {
      fill: #101014;
    }
  }
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  .dark {
    fill: #101014;
    .bg {
      fill: #fff;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
